body {
  color: #777;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
  /*position: relative;*/
  padding-left: 0;
}

/*
The content `<div>` is where all your content goes.
*/
.content {
  margin: 0 auto;
  padding: 1em 1em 5em 1em;;
  max-width: 720px;
  /*margin-bottom: 50px;*/
  line-height: 1.6em;
}

.header {
 margin: 0;
 color: #333;
 text-align: center;
 padding: 2.5em 2em 0;
 border-bottom: 1px solid #eee;
}
.header h1 {
  margin: 0.2em 0;
  font-size: 3em;
  font-weight: 300;
}
.header h2 {
  font-weight: 300;
  color: #ccc;
  padding: 0;
  margin-top: 0;
}

.content-subhead {
  margin: 50px 0 20px 0;
  font-weight: 300;
  color: #888;
}

/* code block */

pre {
  border: 1px solid #ccc;
  word-wrap: break-word;
  padding: 6px 10px;
  line-height: 19px;
  margin-bottom: 20px;
}

code {
  border: 1px solid #eaeaea;
  margin: 0px 2px;
  padding: 0px 5px;
}

pre code {
  border: 0px;
  padding: 0px;
  margin: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

pre, code {
  font-family: Menlo, Consolas, 'Liberation Mono', Courier, monospace;
  font-size: 12px;
  color: #555;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* Custom style starts here */

/* block quote */
blockquote {
  color: #666;
  font-style: italic;
  line-height: 1.8;
  border-left: 5px solid #ddd;
  padding-left: 1.5em;
}

/* image */
.pure-img {
  margin: auto;
}

/* aside */
aside {
  background: #1f8dd6; /* same color as selected state on site menu */
  padding: 0.3em 1em;
  border-radius: 3px;
  color: #fff;
}
aside a, aside a:visited {
  color: rgb(169, 226, 255);
}

.fin {
  text-align: center;
  font-size: 1.5em;
  color: #f4f4f4;
  margin-top: 1em;
}

a {
  text-decoration: none;
  color: rgb(61, 146, 201);
}

hr {
  width: 250px;
}

.post-title {
  /*margin: 2em 2em 1em 0;*/
  font-size: 1.8em;
  /*font-weight: 300;*/
  color: #888;
  position: relative;
  line-height: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.content-link {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 100%;
  width: 20px;
  background: transparent url('/img/link-icon.png') no-repeat center center;
  background-size: 20px 20px;
}

/* post content related */
figcaption { font-size: smaller; }
figcaption { text-align: center; }

.post-content {
  /*padding-bottom: 5em;*/
}

/* post meta */
.post-meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}

/* badge */
.badge {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: #fff;
  background: #999;
  font-size: 80%;
}
.badge-green {
  background: #5aba59;
}
.badge-blue {
  background: #4d85d1;
}
.badge-purple {
  background: #8156a7;
}
.badge-red {
  background: #df2d4f;
}

/* footer */
.footer {
  background: #111;
  color: #888;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: #ddd;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

/* end of footer */
